*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
} 

.inner_heading{
    position: relative;
    border:0px solid white;  
    background: black;
    color: red;
    height: 20px;
    width:auto;
    overflow: hidden;
    top:30px;
    transform: 0.4s ease;
}

.inner_heading span{
    position: relative;
    bottom: 0;
    transition: 0.4s ease;
    
}

.inner_heading span:hover{
    bottom: 18px;
}

.circle{
    background: black;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}